<div class="container">
  <header class="dashboard-header">
    <h1>Login Page</h1>
  </header>

  <section class="dashboard-actions">
    <button type="button" class="btn btn-primary btn-lg" (click)="register()">
      Go to Registration Form
    </button>
  </section>



  <!-- login.component.html -->

  <div class="login-container">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" ngModel required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel required>

      <button type="submit">Log In</button>

      <div class="forgot-password">
        <a href="#">Forgot your password?</a>
      </div>
    </form>
  </div>


</div>